.output-recipe {
  margin-top: 1rem;
  width: 29rem;

  h2, h1 {
    margin-bottom: 1.5rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  li, p {
    margin-bottom: 1rem;
    list-style-position: inside;
  }
}