@import './mixin';

.containerRecipe {
  width: min(29rem, 85vw);
}

.output-recipe {
  margin-top: 1rem;
  width: 100%;

  h2, h1 {
    margin-bottom: 1.5rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  li, p {
    margin-bottom: 1rem;
    list-style-position: inside;
  }
}

.loading {
  @include flex(row, center, center, 0);
}