i {
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.9rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 1rem gray;
  }
}

.circleInfo {
  position: relative;
  transition: all 0.3s ease-in-out;

  &:hover .explanation,
  &:hover .explanation::after {
    opacity: 1;
    visibility: visible;
  }
}

.explanation {
  opacity: 0;
  visibility: hidden;
  color: black;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: white;
  font-size: 1rem;
  width: min(17rem, 90vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);

  &::after {
    opacity: 0;
    visibility: hidden;
    content: "";
    height: 2rem;
    width: 2rem;
    border-radius: 100% 100% 0 0;
    background-color: white;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 572px) {
  .explanation {
    left: -220%;
  }
}

@media (max-width: 393px) {
  .explanation {
    left: -240%;
  }
}

@media (max-width: 253px) {
  .explanation {
    left: -180%;
  }
}